
.contenedor{
    margin: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 400px repeat(2, minmax(300px, auto));
    grid-template-rows: 60px repeat(2, minmax(400px, auto));
    grid-template-areas: "perfil   titulo          titulo"
                        "perfil     about           estudio"
                        "perfil    proyectos       skill";
}


.caja{
    width: 100%;
    background-color: cornflowerblue;
    border-radius: 60px;
    box-shadow: 4px 4px 10px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .perfil{
    background-color: blueviolet;
    grid-row: perfil;
}

.titulo{
    background-color: aqua;
    grid-column-start: titulo;
    grid-column-end: titulo;
}

.estudio{
 background-color: chartreuse;
}
.about{
    background-color: rgb(223, 14, 195);

}